* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    background: #1a1a1a;
    color: #fafafa;
}
main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav{
    height: 10vh;
    width: 100%;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
    padding-block: 10px;
}

#counter-wrapper{
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#counter-wrapper #counter{
    font-size: 7rem;
    transition: all 0.5s ease-out;
}
#input label{
    font-size: 1.2rem;
}
#input input{
    margin: 10px;
    width: 5rem;
    height: 30px;
    padding-left: 5px;
}
button{
    background-color: whitesmoke;
    padding: 5px 20px;
    border: none;
    transition: all 0.2s ease-in;
    font-size: 2rem;
    margin: 10px 10px;
    border-radius: 5px;
    color: black;
}
button:hover{
    cursor: pointer;
    background-color: rgb(199, 191, 191);

}
#reset{
    background-color: rgb(180, 10, 10);
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
}
#reset:hover{
    background-color: rgb(132, 9, 9);
}